body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-mini.png)
}

h1, h3, h4, p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 25px;
    padding: 6px;
    background-color: lightblue;
    width: 200px; 
}

p {
    line-height: 25px;
}

img {
    width: 75px;
}

.col-sm-1 {
    margin-right: 30px;
}
.col-sm-4 p{
    color: black;
    margin-top: 15px;
}

#randomNumber {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}




